<body>
<div>
  <h1> TABELLA LIVIA</h1>


  <div class="mat-elevation-z8 bottone"> 
    <button mat-button color="primary" (click)="firstPage()">Prima pagina</button>
    {{data?.page?.number}}
    <button mat-button color="primary" [disabled]="!data?._links?.next" (click)="nextPage()">Successivo</button>
    <button mat-button color="primary" (click)="lastPage()">Ultima pagina</button>
  </div> 
 <table mat-table [dataSource]="dataSources" class="mat-elevation-z8 coloreTabella">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="birthDate">
      <th mat-header-cell *matHeaderCellDef> BirthDate </th>
      <td mat-cell *matCellDef="let element"> {{element.birthDate}} </td>
    </ng-container>
  
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> FirstName </th>
      <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>
  
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> LastName </th> 
      <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>
  
     <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef> Gender </th>
      <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
    </ng-container>
  
     <ng-container matColumnDef="hireDate">
      <th mat-header-cell *matHeaderCellDef> HireDate </th>
      <td mat-cell *matCellDef="let element"> {{element.hireDate}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>






</div>
</body>